"""This script defines local paths for:

    :data_path: where the `ldiv' folder is to be found
    :results_path: where any sort of output data is to be stored

The paths can either be absolute or relative to the source folder of the
project.

"""
import os
data_path = os.path.join('..', 'data')
results_path = os.path.join('..', 'results')
