html {
  /*****************************************************************************
  * Overall Layout Variables
  */

  --pst-color-link: green;
  --pst-color-inline-code: green!important;
}

html[data-theme="light"] {
  --pst-color-link: black;
  // Announcement
  --sbt-color-announcement: rgb(97, 97, 97);
  // Default primary color (need to adjust on dark theme due to bad contrast)
  --pst-color-primary: #176de8;
}
html[data-theme="dark"] {
  --pst-color-link: lightgreen;
  // Announcement
  --sbt-color-announcement: rgb(97, 97, 97);
  // Default primary color (need to adjust on dark theme due to bad contrast)
  --pst-color-primary: #176de8;
}
